/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  #loginForm, #logoutForm {
    margin-top: 20px;
    text-align: center;
  }
  
  input[type="text"], input[type="password"], button {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  #errorMsg {
    color: red;
  }
  