.btn{
    padding: 10px;
    background-color: blue;
}
.btn:hover{
    background-color: blueviolet;
    cursor: pointer;

}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: green;
  }

  a:first-child{
    color: yellow;
  }


  div.box{
    width: 100px;
    height: 100px;
    color: blue;
    padding: 10px;


  }